.dxauv { 
  border-bottom-width: 94px;
  font-size: 48px;
  padding-left: 70px;
  border-left-width: 37px;
  border-right-width: 45px;
  font-size: 90px;
  padding-top: 18px;
  border-top-width: 47px;
  margin-left: 84px;
  margin-bottom: 87px;
  margin-left: 80px;
  margin-left: 84px;
  font-size: 29px;
  margin-top: 7px;
  border-left-width: 16px;
  border-top-width: 60px;
  padding-bottom: 77px;
  line-height: 58px;
  line-height: 96px;
  border-left-width: 71px;
  margin-top: 32px;
  border-left-width: 0px;
  border-right-width: 17px;
  padding-bottom: 69px;
  border-bottom-width: 16px;
  padding-left: 94px;
  margin-bottom: 80px;
  padding-bottom: 77px;
  padding-top: 25px;
  padding-bottom: 74px;
  padding-top: 97px;
  margin-right: 64px;
}
